<section class="padding text-right">
  <div class="container order-box padding">
    <div class="row mt-4">
      <div class="col-sm-6 order-sm-12"><h6 class="title">قابل پرداخت</h6></div>
      <div class="col-sm-6 order-sm-1"><h6 class="price">{{sum}} T</h6></div>
    </div>
    <div class="row mt-4 row-border row-padding">
      <div class="col-sm-6 order-sm-12"><h6 class="title">آدرس</h6></div>
      <div class="col-sm-6 order-sm-1">
        <textarea type="text" class="form-control text-right my-input address" placeholder=".لطفا آدرس خود را وارد کنید   "></textarea>  
      </div>
      
    </div>
    <div class="row justify-content-center mt-4">
      <button class="my-active-btn">پرداخت</button>
    </div>
  </div>
</section>