<section class="padding">
  <div class="container-fluid my-container">
    <div class="row">
      <div class="col-lg-6 text-right padding info">
        <h4 class="title">تماس با ما</h4>
        <div class="row">
          <div class="col-8">
            <fa-icon [icon]="email" class="mx-auto my-icon contact-icon"></fa-icon>
            <p>onlineshop@gmail.com</p>
          </div>
          <div class="col-4"><h6 class="title">ایمیل</h6></div>
        </div>
        <div class="row">
          <div class="col-8">
            <fa-icon [icon]="map" class="mx-auto my-icon contact-icon"></fa-icon>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  </p>
          </div>
          <div class="col-4"><h6 class="title">آدرس</h6></div>
        </div>
        <div class="row">
          <div class="col-8">
            <fa-icon [icon]="phone" class="mx-auto my-icon contact-icon"></fa-icon>
            <p>555-555-555</p>
          </div>
          <div class="col-4">
            <h6 class="title">شماره تلفن</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-right padding" >
        <h4 class="title">ارسال پیام  </h4>
        <div class="row">
          <div class="col-8">
            <input type="email" class="form-control text-right my-input" aria-describedby="emailHelp" placeholder=".آدرس ایمیل را وارد کنید">  
          </div>
          <div class="col-4"><h6 class="title">ایمیل شما</h6></div>
        </div>
        <div class="row">
          <div class="col-8">
            <input type="text" class="form-control text-right my-input" placeholder=".نام خود را وارد کنید">  
          </div>
          <div class="col-4"><h6 class="title">نام شما</h6></div>
        </div>
        <div class="row">
          <div class="col-8">
            <textarea type="text" class="form-control text-right my-input msg-input" placeholder=".متن پیام خود را بنویسید"></textarea>  
          </div>
          <div class="col-4">
            <h6 class="title">پیام شما </h6>
          </div>
        </div>
        <div class="row">
          <button class="my-active-btn"> ارسال</button>
        </div>
      </div>
    </div>
  </div>
</section>