section{
    background-color: #f4f4f4;
}
.my-container{
    border-radius: 8px;
    border: 0.5px solid #35cad2;
}
p{
    font-size: 14px;
    color: #797b7b;
    margin-top: 10px;
    width: max-content;
    float: right;
    margin-right: 15px;
}
.contact-icon{
    float: right;
    font-size: 20px;
    margin-top: 5px;
}
