<header>
  <div class="container-fluid head">
    <div class="row justify-content-between no-gutters padding">
      <div class="col-4 item">
        <button>
          <fa-icon [icon]="faShoppingCart" class="mx-auto my-icon"></fa-icon>
        </button>
      </div>
      <div class="col-4 text-center">
        <img src="assets/img/logo.png" class="mx-auto">
      </div>
      <div class="col-4 item">
        <form class=" d-flex justify-content-end md-form form-sm mt-0">
          <input class="form-control form-control-sm mr-2 w-50 search-box" type="text" placeholder=""
            aria-label="Search">
          <button>
            <fa-icon [icon]="faSearch" class="mx-auto my-icon"></fa-icon>
          </button>
        </form>
      </div> 
      
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light menu">
    
    <button class="navbar-toggler my-btn1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars" class="my-icon"></fa-icon>
    </button>
    <button class="navbar-toggler my-btn1">
      <fa-icon [icon]="faSignInAlt" class="my-icon"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto menu-list"> 
             
            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    ارتباط با ما
                </a> 
            </li> 

            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    درباه ما 
                </a> 
            </li>
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/products"> 
                  محصولات ما
              </a> 
            </li> 
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/login"> 
                  ورود/ثبت نام
              </a> 
            </li> 

            <li class="nav-item "> 
              <a class="nav-link menu-item" href="#" routerLink="/home"> 
                  خانه 
              </a> 
            </li> 
        </ul> 
    </div>
  </nav>
  
</header>