
section {
    background-color: #f4f4f4;
    margin-top: 0px;
    border-bottom: 0.5px solid #c5cad2;
}
.margin{
    margin: 20px 10px 10px 20px;
}

.cat-img{
    background-color: #dcdfe4;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 2px  #4DE9E5 ;
}
.category{
    padding: 10px;
    border-radius: 5px;
}
.cat-title{
    color: #797b7b;
    padding-bottom: 5px;
}
.cat-title:hover{
    border-bottom: 1px solid #4DE9E5;
}
.cat-link{
    text-decoration: none;
}
.my-carousel{
    border: 0.5px solid #c5cad2;
    border-radius: 8px;
    margin-bottom: 50px;
}