<section class="padding">
  <h3 class="padding text-center title">:رویدادها</h3>
    <div class="container-fluid events">
        <div class="row">
          <div class="col-4 festivals">
            <div id="carouselExample" class="carousel slide my-car " data-ride="carousel">
                <!--Controls-->
                <div class="controls-top">
                    <a class="carousel-control-prev" href="#carouselExample" data-slide="prev"><fa-icon [icon]="leftArr" class="mx-auto my-icon"></fa-icon></a>
                    <a class="carousel-control-next" href="#carouselExample" data-slide="next"><fa-icon [icon]="rightArr" class="mx-auto my-icon"></fa-icon></a>
                </div>
                <!--/.Controls-->
                <div class="carousel-inner">
                  <div *ngFor="let fest of festivals ; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img class="d-block w-100 event-img" src={{fest.image}} alt="First slide">
                    <div class="carousel-caption d-none d-md-block my-caption">
                        <h5>{{fest.title}}</h5>
                        <p>{{fest.caption}}</p>
                      </div>
                  </div>
                </div>
                
            </div>
          </div>
          <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide my-car" data-ride="carousel">
                <!--Controls-->
                <div class="controls-top">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev"><fa-icon [icon]="leftArr" class="mx-auto my-icon"></fa-icon></a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next"><fa-icon [icon]="rightArr" class="mx-auto my-icon"></fa-icon></a>
                </div>
                <!--/.Controls-->
                <div class="carousel-inner">
                  <div *ngFor="let event of events ; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img class="d-block w-100 event-img" src={{event.image}} alt="First slide">
                    <div class="carousel-caption d-none d-md-block my-caption">
                        <h5>{{event.title}}</h5>
                        <p>{{event.caption}}</p>
                      </div>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
        
        <div class="row d-flex flex-wrap justify-content-center campaigns">
          <div class="col mr-2 text-center campaign" *ngFor="let camp of campaigns; let i = index;">
            <a class="link" href="#">
              <img src={{camp.image}} class="rounded camp-img">
              <h6 class="title">{{camp.title}}</h6>
              <p class="caption">{{camp.caption}}</p>
            </a>
          </div>
        </div>
      </div>
</section>