<section class="padding">
  <div class="text-right padding my-container container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="text-center cart-item" *ngFor="let product of products">
            <a href="">
              <img src={{product.image}} alt="">
              <h6 class="cart-title">{{product.name}}</h6>
              <h6 class="price">{{product.price}}</h6>

            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 container-fluid">
        <h3 class="title">{{user.firstName}} {{user.lastName}}</h3>
        <div class="row mr-2 row-padding">
          <div class="col">
            <h6 class="price">{{sum}} T</h6>
          </div>
          <div class="col">
            <h5 class="title">:مجموع </h5>
          </div>
        </div>
        <div class="row mr-2 row-padding row-border">
          <div class="col">
            <h6 class="price">{{shippingCost}} T</h6>
          </div>
          <div class="col">
            <h5 class="title">:هزینه ارسال </h5>
          </div>
        </div>
        <div class="row mr-2 row-padding">
          <div class="col">
            <button class="my-active-btn cart-btn">ثبت سفارش</button>
          </div>
          <div class="col">
            <form class=" d-flex justify-content-end md-form form-sm mt-0">
              <input class="form-control form-control-sm mr-2 w-50 text-right discount-input" type="text" placeholder=" کد تخفیف">
              <button class="my-active-btn">ثبت</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>