<section class="padding">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-5">
        <div class="form-group text-right">
          <label for="password" class="my-lable"> رمز عبور</label>
          <input type="email" class="form-control text-right my-input" id="password" aria-describedby="emailHelp" placeholder="رمز خود را وارد کنید">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group text-right">
          <label for="phone" class="my-lable" > شماره موبایل</label>
          <input type="email" class="form-control text-right my-input" id="phone" aria-describedby="emailHelp" placeholder="شماره موبایل خود را وارد کنید">  
        </div>
        </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-5">
        <button class="my-active-btn">ورود</button>
      </div>
      <div class="col-5">
        <p class="my-p">.حساب کاربری ندارید؟ ثبت نام کنید</p>
        <a routerLink="/register"><button class="my-btn sign-up" >ثبت نام</button></a>
      </div>
    </div>
  </div>
</section>
