<footer class="padding">
  <div class="container-fluid head">
    <div class="row justify-content-between no-gutters">
      <div class="col-3 ">
        <img src="assets/img/logo.png" class="mx-auto">
      </div>
      <div class="col-5 text-center">
        <ul class="nav justify-content-center social-media">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <fa-icon [icon]="insta" class="mx-auto my-icon"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <fa-icon [icon]="telegram" class="mx-auto my-icon"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <fa-icon [icon]="facebook" class="mx-auto my-icon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3 text-right" >
        <img src="assets/img/logo.png" class="mx-auto">
      </div>
      
    </div>
  </div>
  <nav class="navbar navbar-expand navbar-light menu">
    
        <ul class="navbar-nav ml-auto mr-auto  menu-list"> 
             
            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    ارتباط با ما
                </a> 
            </li> 

            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    درباه ما 
                </a> 
            </li>
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/products"> 
                  محصولات ما
              </a> 
            </li> 
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/login"> 
                  ورود/ثبت نام
              </a> 
            </li> 

            <li class="nav-item "> 
              <a class="nav-link menu-item" href="#" routerLink="/home"> 
                  خانه 
              </a> 
            </li> 
        </ul> 
    
  </nav>
</footer>
<div class="padding text-center copy-right">
  <h6>.کلیه حقوق مادی و معنوی این سایت متعلق به خیریه ... می باشد</h6>
</div>