<footer class="padding">
  <div class="container-fluid head">
    <div class="row justify-content-between no-gutters">
      <div class="col-4 item">
        <img src="assets/img/logo.png" class="mx-auto">
      </div>
      <div class="col-4 text-right" >
        <img src="assets/img/logo.png" class="mx-auto">
      </div>
      
    </div>
  </div>
  <nav class="navbar navbar-expand navbar-light menu">
    
        <ul class="navbar-nav ml-auto mr-auto  menu-list"> 
             
            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    ارتباط با ما
                </a> 
            </li> 

            <li class="nav-item"> 
                <a class="nav-link menu-item" href="#"> 
                    درباه ما 
                </a> 
            </li>
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/products"> 
                  محصولات ما
              </a> 
            </li> 
            
            <li class="nav-item"> 
              <a class="nav-link menu-item" href="#" routerLink="/login"> 
                  ورود/ثبت نام
              </a> 
            </li> 

            <li class="nav-item "> 
              <a class="nav-link menu-item" href="#" routerLink="/home"> 
                  خانه 
              </a> 
            </li> 
        </ul> 
    
  </nav>
</footer>